header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000c1d; 
    /* color: white; */
    z-index: 1000; 
    transition: background-color 0.3s, color 0.3s;
    
  }
  .scrolled {
    background-color: white; 
  }

  nav {
    display: flex;
    gap: 20px;
  }


  .nav .nav-link {
    text-decoration: none;
    color: white; 
    font-weight: bold;
  }
  .nav .nav-link:hover{
    color: white;
  }
  .scrolled .nav .nav-link{
    color: black;
  }

  