.database h2{
    padding-top: 50px;
    color: black;
    text-align: center;
    font-weight: bolder;
}
.database .custom-hr{
    width: 10%;
    color: #000000;
    margin: 0 auto;
    text-align: center;
}
.database .data-text p{
    padding: 50px;
    padding-top: 80px;
}
.database .data-img{
    max-width: 100%;
}
.database .box {
    border: 1px solid #DDDDDD;
    height: 100%;
    padding: 40px ;
    border-radius: 5px;

}

.database .box:hover {
    box-shadow: 0 4px 8px 0 #00000040;
    border: 1px solid #1A76D166;
}

.database .box h5 {
    font-weight: bolder;
    text-align: center;
}

.database .box p {
    text-align: justify;
    color: #696969;
}
.database button{
    border: none;
    margin-top: 50px;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 #00000040;
    border-radius: 5px
}  
.database button:hover{
    background: #1099C5;
    color: #fff;
}


.mongo{
    margin-top: 200px;
}

.choos-database{
    margin-top: 50px;
    margin-bottom: 100px;
}
.choos-database h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
}
.choos-database .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.choos-database .chek {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
.choos-database .chek img {
    align-self: flex-start;
    padding-top: 5px;
  }

.choos-database .chek h5 {
    margin: 0;
    font-weight: bolder; 
  }
.choos-database .chek h5 span{
    font-size: 16px;
    color: #696969;
}
@media only screen and (max-width: 991px) and (min-width: 600px){
    .database .data-text .col-lg-8{
        width: 60%;
    }
    .database .data-text .col-lg-4{
        width: 40%;
    }
    .database .data-text p{
        padding: 0px;
        padding-top: 20px;
    }
    .database .col-lg-4{
        width: 50%;
    }
}