.point{
    margin-top: 150px;
    margin-bottom: 100px;
}
.point h2{
    color: black;
    text-align: center;
    font-weight: bolder;
}
.point .custom-hr{
    width: 10%;
    color: #000000;
    margin: 0 auto;
    text-align: center;
}
.point .chek {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 20px;
  }
.point .chek img {
    align-self: flex-start;
  }

.point .chek h6 {
    margin: 0;
    font-weight: bolder; 
  }
.point button{
    border: none;
    margin-top: 50px;
    background: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 #00000040;
    border-radius: 5px;
}  
.point button:hover{
    background: #1099C5;
    color: #fff;
}

.asp{
    margin-top: 200px;

}
.asp h2{
    text-align: center;
    font-weight: bolder; 
}
.asp .custom-hr{
    width: 10%;
    color: #000000;
    margin: 0 auto;
    text-align: center;
}
.asp p{
    color: #696969;
    text-align: justify;
    margin-top: 50px;
}

/* this css .net.jsx  */
.asp .net-img{
    max-width: 100%;
}
@media only screen and (max-width: 991px) and (min-width: 600px){
    .asp .col-lg-8{
        width: 60%;
    }
    .asp p{
        margin-top: 0px;
    }
    .asp .col-lg-4{
        width: 40%;
    }
}