.javascript h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
}
.javascript .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.javascript .box {
    border: 1px solid #DDDDDD;
    height: 100%;
    padding: 40px;
    border-radius: 5px;

}
.javascript .box:hover {
    box-shadow: 0 4px 8px 0 #00000040;
    border: 1px solid #1A76D166;
}
.javascript .box h5{
    text-align: center;
    font-weight: bolder;
}
.javascript .box p{
    color: #696969;
    text-align: justify;
}
.javascript button{
    margin-top: 50px;
    margin-bottom: 100px;
    background: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 #00000040;
}  
.javascript button:hover{
    background: #1099C5;
    color: #fff;
}




.benifits-javascript{
    margin-bottom: 100px;
}
.benifits-javascript h2{
    text-align: center;
    font-weight: bolder;
}
.benifits-javascript .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.benifits-javascript .chek {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
.benifits-javascript .chek img {
    align-self: flex-start;
    padding-top: 5px;
  }

.benifits-javascript .chek h5 {
    margin: 0;
    font-weight: bolder; 
  }
.benifits-javascript .chek h5 span{
    font-size: 16px;
    color: #696969;
}  



@media only screen and (max-width: 991px) and (min-width: 600px){
    .javascript .col-lg-4{
        width: 50%;
    }
}