.manual{
    margin-top: 100px;
    margin-bottom: 100px;
}
.manual h2{
    color: black;
    text-align: center;
    font-weight: bolder;
}
.manual .custom-hr{
    width: 10%;
    color: #000000;
    margin: 0 auto;
    text-align: center;
}
.manual .qa-text{
    margin-bottom: 50px;
}
.manual .qa-text p{
    padding: 50px;
    padding-top: 80px;
    text-align: justify;
}
.manual .qa-img{
    max-width: 100%;
}


.manual .box {
    border: 1px solid #DDDDDD;
    height: 100%;
    padding: 40px ;
    border-radius: 5px;

}

.manual .box:hover {
    box-shadow: 0 4px 8px 0 #00000040;
    border: 1px solid #1A76D166;
}

.manual .box h5 {
    font-weight: bolder;
    text-align: center;
}

.manual .box p {
    color: #696969;
    text-align: justify;
}

@media only screen and (max-width: 991px) and (min-width: 600px){
    .manual .qa-text .col-lg-8{
        width: 60%;
    }
    .manual .qa-text .col-lg-4{
        width: 40%;
    }
    .manual .qa-text p{
        padding: 0px;
    }
    .manual .col-lg-4{
        width: 50%;
    }

}
