.our h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
}
.our .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.our .box {
    border: 1px solid #DDDDDD;
    height: 100%;
    padding: 40px;
    border-radius: 5px;

}
.our .box:hover {
    box-shadow: 0 4px 8px 0 #00000040;
    border: 1px solid #1A76D166;
}
.our .box h5{
    text-align: center;
    font-weight: bolder;
}
.our .box p{
    color: #696969;
}
.r-why{
    margin-top: 200px;
}
.r-why h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
}
.r-why .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.r-why .chek {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
.r-why .chek img {
    align-self: flex-start;
  }

.r-why .chek h5 {
    margin: 0;
    font-weight: bolder; 
  }