.ios{
    margin-top: 50px;
    margin-bottom: 50px
}

.ios h2{
    text-align: center;
    font-weight: bolder;
}
.ios .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.ios .box {
    border: 1px solid #DDDDDD;
    height: 100%;
    padding: 40px;
    border-radius: 5px;

}
.ios .box:hover {
    box-shadow: 0 4px 8px 0 #00000040;
    border: 1px solid #1A76D166;
}
.ios .box h5{
    text-align: center;
    font-weight: bolder;
}
.ios .box p{
    color: #696969;
}

.i-why{
    margin-top: 150px;
}
.i-why h2{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
}
.i-why .custom-hr{
    width: 10%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.i-why .chek {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
.i-why .chek img {
    align-self: flex-start;
    padding-top: 5px;
  }
.i-why .ios-img{
    max-width: 100%;
}  
