.get-touch{
    background-color: #0E1934;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.get-touch h2{
    text-align: center;
    font-weight: bolder;
    line-height: 50px;
    color: white;
}
.get-touch .custom-hr{
    width: 50%;
    color: black;
    margin: 0 auto;
    text-align: center;
}
.get-touch button{
    border: none;
    padding: 10px 15px;
    font-weight: bolder;
    border-radius: 5px;
}
.get-touch button:hover{
    background: #1099C5;
    color: #fff;
}
.get-touch .card{
    position: absolute;
    top: 105%; /* Position from top */
    left: 50%; /* Position from left */
    transform: translate(-50%, -50%); /* Center align using translate */
    color: #656363;
    text-align: center;
}
.get-touch .card i{
    color: #0E1934;
}