
.chek {
    display: flex;
    align-items: center; 
    gap: 10px;
  }
.chek span {
    font-size: 60px;
    align-self: flex-start;
    font-weight: bolder;
  }
.chek .one{
    background: linear-gradient(180deg, rgba(197, 173, 215, 0.44) 0%, rgba(104, 91, 113, 0.4) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .two{
    background: linear-gradient(180deg, rgba(109, 187, 229, 0.54) 0%, rgba(64, 155, 206, 0.53) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .three{
    background: linear-gradient(180deg, rgba(197, 219, 60, 0.54) 0%, rgba(164, 183, 32, 0.53) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .four{
    background: linear-gradient(180deg, rgba(214, 77, 68, 0.54) 0%, rgba(139, 46, 45, 0.55) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .five{
    background: linear-gradient(180deg, rgba(58, 189, 190, 0.2862) 0%, rgba(14, 130, 129, 0.2916) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .six{
    background: linear-gradient(180deg, rgba(255, 194, 103, 0.54) 0%, rgba(255, 167, 38, 0.53) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .seven{
    background: linear-gradient(180deg, rgba(197, 219, 60, 0.53) 0%, rgba(164, 183, 32, 0.54) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek .eight{
    background: linear-gradient(180deg, rgba(109, 187, 229, 0.54) 0%, rgba(64, 155, 206, 0.53) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chek h1 {
    margin: 0; 
  }