.footer{
    background-color: #000C1D;
    color: white;
}
.footer p{
    color: #9795B5;
    
}
.footer li,a{
    list-style: none;
    color: #9795B5;
    line-height: 35px;
}
.footer li:hover{
  color: white;
}
.footer a:hover{
  color: white;
}
.footer li i{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    color: #000C1D;
    margin-right: 10px;
}
.footer .f-icon i{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: #000C1D;
    margin-right: 10px;  
}


.footer .chek-f {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
.footer .chek-f img {
    align-self: flex-start;
    margin-top: 6px;
    width: 33px;
  }

.footer .chek-f h5 {
    margin: 0px;
    font-weight: bolder;
    margin-bottom: 50px; 
  }
  .footer .chek-f p{
    color: #9795B5;
  }

  .end-line {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
}

.end-line .footer-text h6 {
    margin: 0; 
}

.end-line .footer-icons {
    display: flex;
}

.end-line .footer-icons i {
    margin-right: 10px; 
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: #000C1D;
    margin-right: 10px;  
    font-size: 1.2rem; 
}



  @media only screen and (max-width: 1024px) and (min-width: 992px){
    .footer .chek h5 {
        margin-bottom: 90px; 
      }
  }
  @media only screen and (max-width: 991) and (min-width: 300px){
    .footer .chek h5 {
        margin-bottom: 90px; 
      }
  }